*{
	box-sizing: border-box;
}

h1{
	color: #004080; 
}

.note{
	color:#fff; 
}

.bigWhite{
	color:#FFF;
	font-size: 50px;
}

.whitetxt{
	color:#FFF;
}

.bluetxt{
	color: #004080;
	font-family:Dubai light ;	
}

.orangetxt{
	color:#E6B800;
	font-family: Arial Black;
	padding-bottom: 30px;	
}

.slim{
	color:#fff;
	font-family:Arial Black ;
}

h2, h4, h5{
	color:#E6B800;
}

a:hover{
	text-decoration: none; 
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
	width: 100%;
	margin: auto;
}

.navbar {
	margin-bottom: 0;
	background-color:#FFFFFF;
	font-size: 16px !important;
	letter-spacing: 5px;
	opacity: 1;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 100px;
	padding-left: 80px;
}

.navbar li a, .navbar .navbar-brand{
	color:  #004080 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover{
	color: #339933 !important;
	border-bottom: 2px solid #339933;
	transition: all 0.3s;
	margin-left: 12px;
}

/* The active Link */
.navbar-nav li.active a {
	color: #E6B800 !important;
	background-color: #fff !important;
	border-bottom: 2px solid #E6B800;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/*.navbar-toggle:hover{
	border-color: #fff;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #E6B800;
    background-color:#fff !important;
}

.dropdown-header{
	color:#E6B800 !important;
}

/* this is for the button on section1 */
.btn{
	padding:10px 15px;
	background-color: #E6B800;
}

.btn:hover{
	padding:11px 16px;
	color: #004080;
	background-color:#fff;
	border-color:#004080; 
	font-size: 14px;
	transition: 1s;
}

.btn:active{
	padding:10px 15px;
	color:  #004080;
	background-color:#fff; 
}

.btn:visited{
	padding:10px 15px;
	color: #fff;
	background-color: #004080;
	border-color:#fff; 
}

.section1{
	font-size: 22px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	background:  #004080;
	color:#fff ;
	padding-top: 80px;
	padding-bottom: 80px;
}

.section2{
	font-size: 22px;
	font-family: Dubai light;
	color: #004080;
}

.col-sm-5{
	padding-top: 50px;
}

.section3{
	font-size: 22px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	background-color:  #004080;
	color:#fff;
	padding-top: 80px;
	padding-bottom: 80px;
}

.section4{
	font-size: 20px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	background:#fff;
	color:  #004080;
	padding-top: 30px;
	padding-bottom: 60px;
}

.card1{
	box-shadow:10px 0px 80px rgba(0,0,0, .1);
	background-repeat: no-repeat;
	background-image: url('../images/alphaCard1.jpeg');
	background-size: 500px 400px;
	padding-top: 100px;
	padding-bottom: 160px;
	color: #fff;
	opacity: 0.9;
}

.card1:hover{
	box-shadow:10px 0px 80px rgba(0,0,0, .3);
	background-size: 500px 400px;
	padding-top: 130px;
	padding-bottom: 130px;
	transition:1s;
	opacity: 0.9;
}

.card2{
	box-shadow:10px 0px 80px rgba(0,0,0, .1);
	background-repeat: no-repeat;
	background-image: url('../images/alphaCard2.jpeg');
	background-size: 500px 400px;
	padding-top: 100px;
	padding-bottom: 160px;
	color: #E6B800;
	opacity: 0.9;
}

.card2:hover{
	box-shadow:10px 0px 80px rgba(0,0,0, .3);
	background-size: 500px 400px;
	padding-top: 130px;
	padding-bottom: 130px;
	transition:1s;
	opacity: 0.9;
}

.card3{
	box-shadow:10px 0px 80px rgba(0,0,0, .1);
	background-repeat: no-repeat;
	background-image: url('../images/alphaCard3.jpeg');
	background-size: 500px 400px;
	padding-top: 100px;
	padding-bottom: 160px;
	color: #E6B800;
	opacity: 0.9;
}

.card3:hover{
	box-shadow:10px 0px 80px rgba(0,0,0, .3);
	background-size: 500px 400px;
	padding-top: 130px;
	padding-bottom: 130px;
	transition:1s;
	opacity: 0.9;

}

.bluetxt{
	padding-bottom: 30px;
	color:  #004080;
}

.video{
	padding-top: 70px;
}

.section5{
	font-size: 33px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	background:#339933;
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section5:hover{
	font-size: 33px;
	font-family:"Tw Cen MT","Gill Sans","Century Gothic";
	background:#339933;
	color: #FFFFFF;
	transition: 1s;
	padding-left: 90px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.videoTitle{
	font-family: Arial Black;
	color:#fff;
}

.videolink{
	color:#000099; 
}

.videolink:hover{
	color:   #000099;
	transition: 1s;
	text-underline-position:none;
}

.socialicon{
	margin-right:5px; 
}

.footer{
	font-size: 18px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	color: #004080;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #004080;
}


/*******************************
		ABOUT CSS SECTION
*******************************/

.aboutContainer{ 
	color:#004080;
	font-size: 18px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	padding-top: 30px;
	padding-bottom: 250px;
	padding-left: 200px;
	padding-right: 200px;	
}

.aboutSection2{
	font-size: 18px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
	background-color: #E4E4E4;
	color: #004080;
	padding-top: 40px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 50px;	
}


/*******************************
		FAQ CSS SECTION
*******************************/

.toptxt{
	font-family: "Arial Black";
	text-align: center;
	font-size: 40px;
}

.normaltxt{
	color: #E6B800;
	font-family:"Tw Cen MT","Gill Sans","Century Gothic";
}

.txt{
	color:  #004080;
	font-size: 18px;
	font-family: "Tw Cen MT","Gill Sans","Century Gothic";
}

.FAQcontent{
	padding:5px;
	padding-bottom: 0px;
}

.FAQsection{
	padding-left: 140px;
	padding-right: 140px;
	padding-bottom: 1025px;
}

.FAQcontainer{
	background:#E4E4E4;
	padding-top: 20px;
	padding-bottom: 50px;
	
}

.footer-faq{
	padding-top: 10px;
	color:#E4E4E4;
}

/*******************************
		INQUIRY CSS SECTION
*******************************/

.enquirySection1{
	color:#004080;
	background-color:#fff;
	font-size:19px;
	font-family:"Tw Cen MT","Gill Sans","Century Gothic";
	padding-left:120px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn-info:hover{
	color:#004080;
	background-color: #fff;
	border-color:#004080;  
}

.btn-warning:hover{
	color:#004080;
	background-color: #fff;
	border-color:#004080;  
}

.apply{
	padding-left: 600px;
}

.enquirySection2{
	color:#004080;
	background-color:#E4E4E4;
	font-size:19px;
	font-family:"Tw Cen MT","Gill Sans","Century Gothic";
	padding-top: 10px;
	padding-left:120px;
	padding-bottom: 50px;
}

.steps{
	font-size: 21px;
}

/*******************************
		PDF CSS SECTION
*******************************/

.pdfcontainer{
	margin-left: 430px;
	padding-bottom: 60px;
}

/* Contact Form Styling */
.contact-container {
     max-width: 400px;
     width: 100%;
     margin: 0 auto;
     position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
     cursor: pointer;
     width: 100%;
     border: none;
     background: #191970;
     color: #FFF;
     margin: 0 0 5px;
     padding: 10px;
     font-size: 15px;
}

#contact button[type="submit"]:hover {
     background: #43A047;
     -webkit-transition: background 0.3s ease-in-out;
     -moz-transition: background 0.3s ease-in-out;
     transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

/* Registration Form Style */
