{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block carousel %}

{% endblock carousel %}

{% block content %}

<style type="text/css">
    .add{
        color: #004080;
    }
</style>

    <div class="contact-container">
        {% if submitted %}
        <p class="text-primary">Your form was successfully submitted. Thank you.</p>
        {% else %}
            <form id="contact" action="" method="post" novalidate>
              {% csrf_token %}
            <div class="text-center">
              <h3> Contact The Alphabet School</h3>
                <div class="add">
                    <p>Hse 96/2 East Adenta</p>
                    <p>P.O.Box CT 422 Cantoments, Accra</p>
                    <p>Email abc.xyzcampus@gmail.com</p>
                    <p>Tel. 0540 380 099</p><br>
                </div>
            </div>
                {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="{{ form.subject.id_for_label }}">Email subject:</label>
                        {{ form.subject }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.sender.errors }}
                        <label for="{{ form.email.id_for_label }}">Your email address:</label>
                        {{ form.email }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}">Your message:</label>
                        {{ form.message }}
                    </div>
            <fieldset class="contactBtn">
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
          </form>
        {% endif %}
    </div>
{% endblock content %}