<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
 	<script type="text/javascript" src="js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
 	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
 	<link rel="stylesheet" type="text/css" href="AlphaStyle.css">
	<title>The Alphabet School</title>
</head>
<body class="FAQ">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	 	<!-- Indicators -->
	 	<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
 			<li data-target="#myCarousel" data-slide-to="1"></li>
 			<li data-target="#myCarousel" data-slide-to="2"></li>
 			<li data-target="#myCarousel" data-slide-to="3"></li>
 		</ol>	 		
	 	<!--Wrapper for slides -->
	 	<div class="carousel-inner" role="listbox">
	 		<div class="item active"><img src="alpha1.jpeg" alt="Kids" ></div>	
	 		<div class="item"><img src="alpha2.jpeg" alt="Kids"></div> 
			<div class="item"><img src="alpha3.jpeg" alt="Kids"></div> 
	 		<div class="item"><img src="alpha4.jpeg" alt="Kids"></div> 						
	 	</div>
	 	<!-- left and Right controls -->
	 	<a class="left carousel-control" href="#myCarousel" role="botton" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
	 	<a class="right carousel-control" href="#myCarousel" role="botton" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
	</div>
	<!--Navbar-->
	<div class="container container-fluid">
		<div class="row">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--Navbar brand-->
					<a class="navbar-brand" href="Alphabet.html"><img src="alphalogo.jpg" width="300" height="150"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="Alphabet.html">HOME</a></li>
						<li class="dropdown">
							<a class= "dropdown-toggle" data-toggle="dropdown" href="#">APPLY NOW <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="enquiry.html">INQUIRY</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">APPLY</li>
								<li class="divider"></li>
									<li><a href="#">Download Application PDF</a></li>
									<li><a href="#">Apply Online</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">LEARNING <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">CALENDER</a></li>
								<li><a href="#">EVENTS</a></li>
								<li><a href="#">CURRICULUM</a></li>
								<li><a href="#">SAMPLE DAY</a></li>
							</ul>
						</li>
						<li class="dropdown active">
							<a class="dropdown-toggle" data-toggle=dropdown href="about.html">ABOUT <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="about.html">ABOUT US</a></li>
								<li><a href="faq.html">FAQ</a></li>
							</ul>
						</li>
					</ul>
				</div>
		 	</nav>
		 </div>	
	</div>
	<section class="FAQsection">
		<div class="col-sm-12 FAQcontainer text-center">
			<h1 class="toptxt">FREQUENTLY ASKED QUESTIONS</h1>
			
			<div class="col-sm-2"></div>
			
			<div class=" col-sm-8 FAQcontent text-center">
				<h3 class="normaltxt">IS THE ALPHABET SCHOOL A MONTESSORI SCHOOL?</h3>
				<p class="txt">We respect and incorporate Maria Montessori’s philosophy but, we are not a Montessori school. We also use the latest interactive technologies, hands on projects and the Socratic Method for discussions.</p>
				
				<h3 class="normaltxt">HOW LONG IS THE ALPHABET SCHOOL IN SESSION EACH YEAR?</h3>
				<p class="txt">We operate on an eleven month calendar, but our flexible program allows families to travel together during the year, without sacrificing any learning.</p>
				
				<h3 class="normaltxt">IS THE ALPHABET SCHOOL A RELIGIOUS SCHOOL?</h3>
				<p class="txt">While we expose children to the importance of mindful spirituality and stress the historical importance of Christianity to the development of Western Civilization, we do not promote any one religion.</p>
				
				<h3 class="normaltxt">WHAT DO YOU MEAN BY A HERO'S JOURNEY?</h3>
				<p class="txt">We believe that each of us has a special calling in life, and a series of trials and tests that must be faced with integrity and purpose, in order to live a satisfying and fulfilled life. Our mission is to prepare your child for his or her special journey.</p>
				
				<h3 class="normaltxt">WHAT IS AN "INDEPENDENT LEARNER"?</h3>
				<p class="txt">Someone who can research questions, follow instructions, solve problems—admit that they don't know something and figure out a solution when they hit a roadblock without asking an adult for help — participate in discussions, and strive for mastery.</p>
				
				<h3 class="normaltxt">WILL CHILDREN BE GROUPED INTO GRADES?</h3>
				<p class="txt">We believe that children learn best when working with children younger and older than themselves rather than split up into groups based solely on age. In addition to individualized curriculum, all ages of students work together in groups.</p>
				
				<h3 class="normaltxt">WHAT DO YOU MEAN BY "EVERY CHILD CAN CHANGE THE WORLD"?</h3>
				<p class="txt">We believe each of our students will find a passion — something they love and have a gift to do. They will use this gift to serve others and fulfill a need they are passionate about in the world. This may be by becoming a shoe-shiner who tells stories and makes people's day just by doing his job with love and vigor; it may be by becoming a coach who sees the light in a child’s eyes and guides her to pursue a dream; it may be by becoming a father or mother who leads a family on a Hero's Journey; it may be becoming an entrepreneur or business leader guided by compassion and integrity; or it may be by becoming an artist or writer who brings beauty to people's lives.</p>
			</div>

			<div class="col-sm-2"></div>

		</div>
	</section>

		<div class="footer">
	 		<div class="container text-left">
	 			<div class="col-sm-4">
	 				<a href="#"><h4>Learning</h4></a>
	 				<a href="#"><h4>Calender</h4></a>
	 				<a href="#"><h4>Events</h4></a>
	 				<a href="#"><h4>Curriculum</h4></a>
	 				<a href="#"><h4>Sample Day</h4></a>
	 			</div>
	 			<div class="col-sm-4">
	 				<a href="#"><h4>Apply Now</h4></a>
	 				<a href="#"><h4>Inquiry</h4></a>
	 				<a href="#"><h4>Apply Online</h4></a>
	 				<a href="#"><h4>Download Application PDF</h4></a>
	 			</div>
	 			<div class="col-sm-4">
	 				<a href="#" ><h4><img src="fbIcon.png" width="30px" height="30px" class="socialicon">Facebook</h4></a>
	 				<a href="#" ><h4><img src="igIcon.png" width="30px" height="30px" class="socialicon">Instagram</h4></a>
	 				<p class="note">&copy; The Alphabet School 2018.</p>
	 			</div>
	 		</div>
	 	</div>
</body>
</html>