{% extends 'base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}

{% block content %}
    <section class="FAQsection">
		<div class="col-sm-12 FAQcontainer text-center">
			<h1 class="toptxt">FREQUENTLY ASKED QUESTIONS</h1>

			<div class="col-sm-2"></div>

			<div class=" col-sm-8 FAQcontent text-center">
				<h3 class="normaltxt">IS THE ALPHABET SCHOOL A MONTESSORI SCHOOL?</h3>
				<p class="txt">We respect and incorporate Maria Montessori’s philosophy but, we are not a Montessori school. We also use the latest interactive technologies, hands on projects and the Socratic Method for discussions.</p>

				<h3 class="normaltxt">IS THE ALPHABET SCHOOL A RELIGIOUS SCHOOL?</h3>
				<p class="txt">While we expose children to the importance of mindful spirituality and stress the historical importance of Christianity to the development of Western Civilization, we do not promote any one religion.</p>

				<h3 class="normaltxt">WILL CHILDREN BE GROUPED INTO GRADES?</h3>
				<p class="txt">We believe that children learn best when working with children younger and older than themselves rather than split up into groups based solely on age. In addition to individualized curriculum, all ages of students work together in groups.</p>

				<h3 class="normaltxt">WHAT CURRICULUM DO WE USE?</h3>
				<p class="txt">The Alphabet School uses the mothergoose time curruculum.</p>
			</div>

			<div class="col-sm-2"></div>

		</div>
	</section>
{% endblock content %}