{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class"row">
	<h1 class="text-center">OUR <strong>GALLERY</strong></h1><br>
	<div class="galcontainer">
		<div class="case">
			<a href="{% static 'images/image1.jpeg' %}" data-toggle="modal" data-target="#myModal1" data-lightbox="gallery">
				<img src="{% static 'images/image1.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image3.jpeg' %}" data-toggle="modal" data-target="#myModal2" data-lightbox="gallery">
				<img src="{% static 'images/image3.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image2.jpeg' %}" data-toggle="modal" data-target="#myModal3" data-lightbox="gallery">
				<img src="{% static 'images/image2.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image4.jpeg' %}" data-toggle="modal" data-target="#myModal4" data-lightbox="gallery">
				<img src="{% static 'images/image4.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image5.jpeg' %}" data-toggle="modal" data-target="#myModal5" data-lightbox="gallery">
				<img src="{% static 'images/image5.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image6.jpeg' %}" data-toggle="modal" data-target="#myModal6" data-lightbox="gallery">
				<img src="{% static 'images/image6.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image7.jpeg' %}" data-toggle="modal" data-target="#myModal7" data-lightbox="gallery">
				<img src="{% static 'images/image7.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image8.jpeg' %}" data-toggle="modal" data-target="#myModal8" data-lightbox="gallery">
				<img src="{% static 'images/image8.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image9.jpeg' %}" data-toggle="modal" data-target="#myModal9" data-lightbox="gallery">
				<img src="{% static 'images/image9.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image10.jpeg' %}" data-toggle="modal" data-target="#myModal10" data-lightbox="gallery">
				<img src="{% static 'images/image10.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image11.jpeg' %}" data-toggle="modal" data-target="#myModal11" data-lightbox="gallery">
				<img src="{% static 'images/image11.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image12.jpeg' %}" data-toggle="modal" data-target="#myModal12" data-lightbox="gallery">
				<img src="{% static 'images/image12.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image14.jpeg' %}" data-toggle="modal" data-target="#myModal13" data-lightbox="gallery">
				<img src="{% static 'images/image14.jpeg' %}" class="gal" width="300" height="200"></a>
			<a href="{% static 'images/image15.jpeg' %}" data-toggle="modal" data-target="#myModal13" data-lightbox="gallery">
				<img src="{% static 'images/image15.jpeg' %}" class="gal" width="300" height="200"></a>
		</div>
		</div>
	</div>
</div>

{% endblock content %}